#### MTA Project  - Canal Street Small Business Association
###### In this notebook
- Combined final grouped results September through November 2019 and 2021

In [2]:
reset -fs

In [3]:
import pandas as pd
import numpy as np

In [4]:
"""
import csv of 2019 results
"""


df_19 = pd.read_csv('pandas_mta_2019.csv')
df_19

,Unnamed: 0,Line Name and Location,Date and Time,Day,4hr Time Interval Ending at,Net Entries,Net Exits,Total Entries & Exits
0,0,Line 1 : Canal & Varick St,2019-09-01 08:00:00,Sunday,08:00:00,60.0,89.0,149.0
1,1,Line 1 : Canal & Varick St,2019-09-01 12:00:00,Sunday,12:00:00,353.0,726.0,1079.0
2,2,Line 1 : Canal & Varick St,2019-09-01 16:00:00,Sunday,16:00:00,661.0,1018.0,1679.0
3,3,Line 1 : Canal & Varick St,2019-09-01 20:00:00,Sunday,20:00:00,795.0,727.0,1522.0
4,4,Line 1 : Canal & Varick St,2019-09-02 00:00:00,Monday,00:00:00,292.0,208.0,500.0
...,...,...,...,...,...,...,...,...
1547,1547,Line JNQRZ6W : Canal & Broadway/Lafayette,2019-11-29 04:00:00,Friday,04:00:00,271.0,291.0,562.0
1548,1548,Line JNQRZ6W : Canal & Broadway/Lafayette,2019-11-29 08:00:00,Friday,08:00:00,458.0,1494.0,1952.0
1549,1549,Line JNQRZ6W : Canal & Broadway/Lafayette,2019-11-29 12:00:00,Friday,12:00:00,3835.0,8679.0,12514.0
1550,1550,Line JNQRZ6W : Canal & Broadway/Lafayette,2019-11-29 16:00:00,Friday,16:00:00,13082.0,11244.0,24326.0
1551,1551,Line JNQRZ6W : Canal & Broadway/Lafayette,2019-11-29 20:00:00,Friday,20:00:00,16853.0,7520.0,24373.0

In [5]:
"""
import csv of 2021 results
"""

df_21 = pd.read_csv('pandas_mta_2021.csv')
df_21

,Unnamed: 0,Line Name and Location,Date and Time,Day,4hr Time Interval Ending at,Net Entries,Net Exits,Total Entries & Exits
0,0,Line 1 : Canal & Varick St,2021-09-01 08:00:00,Wednesday,08:00:00,104.0,501.0,605.0
1,1,Line 1 : Canal & Varick St,2021-09-01 12:00:00,Wednesday,12:00:00,196.0,501.0,697.0
2,2,Line 1 : Canal & Varick St,2021-09-01 16:00:00,Wednesday,16:00:00,460.0,399.0,859.0
3,3,Line 1 : Canal & Varick St,2021-09-01 20:00:00,Wednesday,20:00:00,460.0,287.0,747.0
4,4,Line 1 : Canal & Varick St,2021-09-02 00:00:00,Thursday,00:00:00,28.0,53.0,81.0
...,...,...,...,...,...,...,...,...
1499,1499,Line JNQRZ6W : Canal & Broadway/Lafayette,2021-11-26 04:00:00,Friday,04:00:00,100.0,188.0,288.0
1500,1500,Line JNQRZ6W : Canal & Broadway/Lafayette,2021-11-26 08:00:00,Friday,08:00:00,185.0,902.0,1087.0
1501,1501,Line JNQRZ6W : Canal & Broadway/Lafayette,2021-11-26 12:00:00,Friday,12:00:00,1389.0,5564.0,6953.0
1502,1502,Line JNQRZ6W : Canal & Broadway/Lafayette,2021-11-26 16:00:00,Friday,16:00:00,5543.0,8270.0,13813.0
1503,1503,Line JNQRZ6W : Canal & Broadway/Lafayette,2021-11-26 20:00:00,Friday,20:00:00,7205.0,5561.0,12766.0

In [6]:
"""
concatenate to form cobmined data frame
"""

frames = [df_19, df_21]
df_all = pd.concat(frames)

In [7]:
df_all.columns

Index(['Unnamed: 0', 'Line Name and Location', 'Date and Time', 'Day',
       '4hr Time Interval Ending at', 'Net Entries', 'Net Exits',
       'Total Entries & Exits'],
      dtype='object')

In [8]:
"""
drop extra unnecessary index column
"""


df_all.drop(['Unnamed: 0'], axis = 1, inplace = True)

In [9]:
df_all

,Line Name and Location,Date and Time,Day,4hr Time Interval Ending at,Net Entries,Net Exits,Total Entries & Exits
0,Line 1 : Canal & Varick St,2019-09-01 08:00:00,Sunday,08:00:00,60.0,89.0,149.0
1,Line 1 : Canal & Varick St,2019-09-01 12:00:00,Sunday,12:00:00,353.0,726.0,1079.0
2,Line 1 : Canal & Varick St,2019-09-01 16:00:00,Sunday,16:00:00,661.0,1018.0,1679.0
3,Line 1 : Canal & Varick St,2019-09-01 20:00:00,Sunday,20:00:00,795.0,727.0,1522.0
4,Line 1 : Canal & Varick St,2019-09-02 00:00:00,Monday,00:00:00,292.0,208.0,500.0
...,...,...,...,...,...,...,...
1499,Line JNQRZ6W : Canal & Broadway/Lafayette,2021-11-26 04:00:00,Friday,04:00:00,100.0,188.0,288.0
1500,Line JNQRZ6W : Canal & Broadway/Lafayette,2021-11-26 08:00:00,Friday,08:00:00,185.0,902.0,1087.0
1501,Line JNQRZ6W : Canal & Broadway/Lafayette,2021-11-26 12:00:00,Friday,12:00:00,1389.0,5564.0,6953.0
1502,Line JNQRZ6W : Canal & Broadway/Lafayette,2021-11-26 16:00:00,Friday,16:00:00,5543.0,8270.0,13813.0
1503,Line JNQRZ6W : Canal & Broadway/Lafayette,2021-11-26 20:00:00,Friday,20:00:00,7205.0,5561.0,12766.0

In [10]:
df_all.to_csv('pandas_mta_all.csv')